<div class="w-11/12 m-14 bg-white rounded-lg border shadow-md dark:bg-gray-800 dark:border-gray-700">
<div id="fullWidthTabContent" class="border-t border-gray-200 dark:border-gray-600">
    <div class="p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800" id="stats" role="tabpanel" aria-labelledby="stats-tab">
        <dl class="grid grid-cols-2 gap-8 p-4 mx-auto max-w-screen-xl text-gray-900 sm:grid-cols-3 xl:grid-cols-3 dark:text-white sm:p-8">
            <div class="flex flex-col justify-center items-center">
                <dt class="mb-2 text-3xl font-extrabold">{{floor(totalDuration/60)}} hours {{floor(totalDuration) - floor(totalDuration/60) * 60 }} minutes</dt>
                <dd class="font-light text-gray-500 dark:text-gray-400">Total length of recordings</dd>
            </div>
            <div class="flex flex-col justify-center items-center">
                <dt class="mb-2 text-3xl font-extrabold">{{recorded}}</dt>
                <dd class="font-light text-gray-500 dark:text-gray-400">Number of recorded samples </dd>
            </div>
            <div class="flex flex-col justify-center items-center">
                <dt class="mb-2 text-3xl font-extrabold">{{toRecord}}</dt>
                <dd class="font-light text-gray-500 dark:text-gray-400">Number of remaining samples</dd>
            </div>
            <div class="flex flex-col justify-center items-center">
                <dt class="mb-2 text-3xl font-extrabold">{{total}}</dt>
                <dd class="font-light text-gray-500 dark:text-gray-400">Total number of samples</dd>
            </div>
            <div class="flex flex-col justify-center items-center">
                <dt class="mb-2 text-3xl font-extrabold">{{percentage  | number}}%</dt>
                <dd class="font-light text-gray-500 dark:text-gray-400">Completion</dd>
            </div>
        </dl>
    </div>
</div>