<div class="mx-10">
    <label for="message" class="block mb-5 text-sm font-medium text-gray-900 dark:text-gray-400">Enter text to upload</label>
    <textarea (input)="handleChange($event)" id="text" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter text..."></textarea>
    <button (click)="handleUpload()" type="button" class="text-white bg-blue-600 rounded-lg text-sm px-5 py-2.5 my-10 text-center disabled:bg-blue-400"  [disabled]='content === "" || disableBtn == true' >Upload</button>
<div>

